<div id="pixel-dialog">
  <h1 id="pixel-dialog-heading">Pixel Color</h1>

  <div class="color-selector">
    <p>{{colorString}}</p>
    <button mat-mini-fab [cdkCopyToClipboard]="colorString">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <div class="color-selector">
    <p>{{rgbColorString}}</p>
    <button mat-mini-fab [cdkCopyToClipboard]="rgbColorString">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <div class="color-selector">
    <p>{{hslColorString}}</p>
    <button mat-mini-fab [cdkCopyToClipboard]="hslColorString">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</div>
