#pixel-container {
  height: 225px;
  width: 225px;
  border: 1px solid black;
  border-radius: 10%;
  z-index: 5;
  position: fixed;
  background-color: white;
  padding-left: 10px;
}

#pixel-container-heading {
  margin-top: 10px;
}

.color-selector {
  display: flex;
  height: 50px;
  align-items: center;
  p {
    width: 150px;
    margin: 0;
  }
}
