<div>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
  <app-pixel></app-pixel>
</div>
